@import url(../../index.css);

.eduction_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.education_item {
  background: var(--color-bg-varient);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.education_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.education_item h3 {
  margin: 1.5rem 0 2rem;
}
.education_item .eduction_type {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .eduction_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .eduction_container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
